<%- include("partials/header.ejs"); -%>
<h1>Home</h1>
<p><%= homecontent %></p>



<!-- <% for (let i=0; i<data.length; i++){ %>
    <% console.log(data[i].title) %>
<%}%> -->

<% data.forEach(function (datlist){ %>
    <!-- <% console.log(datlist.title) %> -->
    <h1><%= datlist.title %></h1>
    <p><%= datlist.content.substring(0,100) + " ..." %>
    <a href = "/posts/<%= datlist.title %>">Read MOre</a>
    </p>
<% }) %>
    

<%- include("partials/footer.ejs"); -%>