<%- include("partials/header") -%>

    <section class="secretHeader">
        <h2> welcome <%= userData.fName %></h2>
        <button class="Logout"><a href="/">Logout</a></button>
        
    </section>
    <div class="container secContainer">
        <% if(attMsg !="" ){ %>
            </if>
            <div class="container">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= attMsg %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <% } %>
                <h2>Please mark your today's attendance.</h2>
                <form action="/submit" method="post">
                    <!-- <input type="radio" name="radio" value="" required>
            <span>Present</span> -->
                    <div class="input-group">
                        <!-- <span class="input-group-text">First and last name</span> -->
                        <input type="text" aria-label="First name" class="form-control" name="fNAme"
                            value=<%=userData.fName %>
                        readonly>
                        <input type="text" aria-label="Last name" class="form-control" name="lName"
                            value=<%=userData.lName %>
                        readonly>
                        <input type="text" aria-label="Last name" class="form-control" name='date' value=<%=new
                            Date().toISOString().slice(0, 10) %> readonly>
                        <button type="submit" class="mx-2" name="submit" value=<%=userData._id %>>Present</button>
                    </div>
                </form>
    </div>

    <div class="container attable">
        <table class="table table-primary">
            <h3>privious attendance</h3>
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Full Name</th>
                    <!-- <th scope="col">Last</th> -->
                    <th scope="col">Date</th>
                    <th scope="col">Attandance</th>
                </tr>
            </thead>
            <tbody>
                <% attandanceData.forEach(e=>{ %>
                    <tr>
                        <!-- <th scope="row">1</th> -->
                        <td>
                            <%= e.fullName %>
                        </td>
                        <!-- <td>Otto</td> -->
                        <td>
                            <%= e.date %>
                        </td>
                        <td>
                            <%= e.attandance %>
                        </td>
                    </tr>

                    <% }) %>
                        <!-- <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>date</td>
                            <td>Present</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>3may2023</td>
                            <td>Present</td>
                        </tr> -->
                        <!-- <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>Present</td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <%- include("partials/footer") -%>